# Validation Report

## Validation Run

- validation_name: 2026-04-27_10-58-03
- source_name: input_sample.xlsx
- status: passed_with_warnings
- is_valid: True
- error_count: 0
- warning_count: 3582
- row_count: 17153
- column_count: 20
- report_name: 2026-04-27_10-58-03_validation_report.md
- created_at: 2026-04-27 03:58:02.733238+00:00

## Validation Issues

- missing_required_columns_count: 0
- empty_blocking_values_count: 0
- invalid_type_values_count: 0
- invalid_datetime_values_count: 0
- invalid_reference_values_count: 0
- created_at: 2026-04-27 03:58:02.733238+00:00
